.basicNameForWhyExactlyUsFile
{
    margin-top: 200px;
    margin-bottom: 106px;
    font-size: 1.5rem;
}

.colForWhyExactlyUs
{
    margin-top: 100px;
}

.circleOutWhyExactlyUs
{
    margin-top: -15%;
    width:331px;
    height:316px;
    border: 1px solid #E79215;
    box-sizing: border-box;
    border-radius: 50%;
}

.whyExactlyUsCup
{
    margin-left: 4%;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;    
    color: #000000;
}

.whyExactlyUsIcons
{
    margin-top: 45px;
}
.seconGridWgyExactlyUs
{
    margin-left: -8%;
}

.imgGirlWhyExactlyUs
{
    width: 500px;
    height: 500px;
    margin-top: -33% !important;
}
.whyExactlyUsButton
{
    width: 184px;
    height: 54px;
    color: #333 !important;
    background: #FFFFFF !important;
    border: 1px solid #E79215 !important;
    color: #333333   !important;
    margin-bottom: 45px !important;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.whyExactlyUsButton:hover{
    background-color: #E79215 !important;
    color: #FFFFFF !important;
    transition: 0.5s;

}

.whyExactlyUsDotsAll
{
    margin-top: -93%;
    margin-left: 81%;   
    opacity: 0.3;
}
.whyExactlyUsDotsAllInto
{
    margin-left: -16% !important;
    margin-top: 34px !important;
    display: inline-block !important;
}
.whyExactlyUsDotsAllIntoSecond
{
    margin-bottom: -100px;
    z-index: -5 !important;
    margin-top: 9px !important;
    margin-left: -52px !important;
    display: inline-block !important;
}

.whyExactlyUsDotsAllIntoSecond1
{
    margin-bottom: -100px;
    z-index: -5 !important;
    margin-top: 18px !important;
    margin-left: -52px !important   ;
    display: inline-block !important;
}

.whyExactlyUsDotsAllIntoSecond2
{
    margin-bottom: -100px;
    z-index: -5 !important;
    margin-top: 27px !important;
    margin-left: -52px !important;
    display: inline-block !important;
}

.whyExactlyUsDotsAllIntoSecond3
{
    margin-bottom: -100px;
    z-index: -5 !important;
    margin-top: 36px;
    margin-left: -52px !important;
    display: inline-block !important;
}

.whyExactlyUsDotsAllIntoFirst img
{
    width: 5px;
    height: 5px;
    margin-top: 0%;
    background: #E79215;
    border-radius: 50%;
    transform: rotate(-180deg);
    background: #E79215;

}

.whyExactlyUsDotsAllIntoOthers img
{
    width: 5px;
    height: 5px;
    margin-top: 0%;
    margin-left: -17px;
    border-radius: 50%;
    background: #E79215;
    transform: rotate(-180deg);
}



/*//////////// Media start ////////////*/

@media only screen and (max-width: 821px) {
    .wrapperForWhyExactlyUs
    .container
    .colForWhyExactlyUs
    .circleOutWhyExactlyUsWrapperForResponsive
    .circleOutWhyExactlyUsForResponsive
    .imgGirlWhyExactlyUsResponsive
    {
        width: 411.77px;
        height: 365.69px;
        margin-left: -10% !important;
        margin-top: 10% !important;
    }

    .seconGridWgyExactlyUs
    {
        margin-left: 0% !important;
    }

    
    .whyExactlyUsButton
    {
        margin-top: 32% !important;
    }
}

@media screen and (max-width:992px ) {
    .colForWhyExactlyUs{
        margin-left: 23% !important;
    }
    .seconGridWgyExactlyUs{
        margin-left: 0% !important;
    }
    .imgGirlWhyExactlyUs {
        width: 873px;
        height: 848px;
        margin-top: -33% !important;
        margin-left: -52%;
    }
    .basicNameForWhyExactlyUsFile{
        margin-left: 23%;
    }
    .circleOutWhyExactlyUsForResponsive{
        margin-top: 35%;
    }
}

@media only screen and (max-width: 912px) {
    .wrapperForWhyExactlyUs
    .container
    .colForWhyExactlyUs
    .circleOutWhyExactlyUsWrapperForResponsive
    .circleOutWhyExactlyUsForResponsive
    .imgGirlWhyExactlyUsResponsive
    {
        width: 411.77px;
        height: 365.69px;
    
        margin-left: -10% !important;
        margin-top: 20% !important;
    }

    .seconGridWgyExactlyUs
    {
        margin-left: 0% !important;
    }

    .whyExactlyUsButton
    {
        margin-top: 25% !important;
    }
}

@media only screen and (max-width: 360px) {
    .wrapperForWhyExactlyUs
    .container
    .colForWhyExactlyUs
    .circleOutWhyExactlyUsWrapperForResponsive
    .circleOutWhyExactlyUsForResponsive
    .imgGirlWhyExactlyUsResponsive
    {
        width: 411.77px;
        height: 365.69px;
    
        margin-left: -10% !important;
        margin-top: 20% !important;
    }

    .seconGridWgyExactlyUs
    {
        margin-left: 0% !important;
    }

    .whyExactlyUsButton
    {
        margin-top: 30% !important;
    }
}


@media only screen and (max-width: 820px) {
    .wrapperForWhyExactlyUs
    .container
    .colForWhyExactlyUs
    .circleOutWhyExactlyUsWrapperForResponsive
    .circleOutWhyExactlyUsForResponsive
    .imgGirlWhyExactlyUsResponsive
    {
        margin-top: 25% !important;
        width: 411.77px;
        height: 365.69px;    
        margin-left: -10% !important;
    }

    .seconGridWgyExactlyUs
    {
        margin-left: 0% !important;
    }

    .whyExactlyUsButton
    {
        margin-top: 25% !important;
    }
}

@media only screen and (max-width: 540px) {

    .wrapperForWhyExactlyUs
    .container
    .colForWhyExactlyUs
    .circleOutWhyExactlyUsWrapperForResponsive
    .circleOutWhyExactlyUsForResponsive
    .imgGirlWhyExactlyUsResponsive
    {
        width: 411.77px;
        height: 365.69px;    
        margin-left: -10% !important;
        margin-top: 25% !important;
    }

    .seconGridWgyExactlyUs
    {
        margin-left: 0% !important;
    }

    .whyExactlyUsButton
    {
        margin-top: 55% !important;
    }
}

@media only screen and (max-width: 275px) {

    .mainLineFirstCard
    {
        width: 100%;
    }

    .mainLineProgrammingMath
    {
        margin-left: 4%;
    }

    .mainLineViewView
    {
        margin-top: -7%;
    }
}

@media only screen and (max-width: 540px) {
    .wrapperForWhyExactlyUs
    .container
    .colForWhyExactlyUs
    .circleOutWhyExactlyUsWrapperForResponsive
    .circleOutWhyExactlyUsForResponsive
    .imgGirlWhyExactlyUsResponsive
    {
        width: 411.77px;
        height: 365.69px;
    
        margin-left: -10% !important;
        margin-top: 25% !important;
    }

    .seconGridWgyExactlyUs
    {
        margin-left: 0% !important;
    }

    .whyExactlyUsButton
    {
        margin-top: 55% !important;
    }
}

@media only screen and (max-width: 275px) {

    .mainLineFirstCard
    {
        width: 100%;
    }

    .mainLineProgrammingMath
    {
        margin-left: 4%;
    }

    .mainLineViewView
    {
        margin-top: -7%;
    }

    .wrapperForWhyExactlyUs
    .container
    .colForWhyExactlyUs
    .circleOutWhyExactlyUsWrapperForResponsive
    .circleOutWhyExactlyUsForResponsive
    .imgGirlWhyExactlyUsResponsive
    {
        width: 411.77px;
        height: 365.69px;
    
        margin-left: -10% !important;
        margin-top: 25% !important;
    }

    .seconGridWgyExactlyUs
    {
        margin-left: 0% !important;
    }

    .whyExactlyUsButton
    {
        margin-top: 80%;
    }
}