
@font-face {
    font-family: Gilroy;
    src: url('Fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf'), 
    url('Fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf');
    font-weight: lighter;
    font-style: normal;
    
}

@font-face {
    font-family: PTMono-Regular;
    src: url('Fonts/PTMono-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}
