.ourGallery{
  margin-top: 100px;
}
.exraPadding{
  padding-bottom: 2% !important;
}

  .cardGallery{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
  }
  .cardGallery:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(176, 179, 179, 0), rgba(37, 37, 35, 0.863));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;
  }
  .cardGallery:hover::before{
    opacity: 1;
  }
  .cardGallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
  }
  .cardGallery .infoGallery{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  .cardGallery:hover .infoGallery{
    opacity: 1;
    transform: translateY(30px);
  }
  .cardGallery .infoGallery h1{
    margin: 0;
  }
  .cardGallery .infoGallery p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
  }

.firstPicture{
  width: 100%;
}
.secondPic{
  width: 100%;
}
.thirdPic{
  width: 100%;
}
.fourthPic{
  width: 100%;
}
.fifthPic{
  width: 100%;
}


.toGallerySize
{
  position: relative;
  font-style: bold !important;
  font-size: 24px !important;
  line-height: 100% !important;
  align-items: left !important;
  vertical-align: top !important;
}
@media only screen and (max-width: 600px) {

}
