
img{
    width: 100%;
    /* padding-top: 10px; */
  }
  .toGallerySize{
    font-size: 24px;
    }
    .cardText{
      position: relative;
      top: 260px;
      left: 70px;
      color: white;
      width: 600px;
      line-height: 29px;
      font-size: 16px;
    }
   
  .firstPicture{
     /* border: 1px solid red; */
     height: 330px;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.17%, #000000 103.74%), url("/public/Img/Gallereya/image397.jpg");
     border-radius: 10px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 10px;
      
  }
  
  .secondCard{
    background:url("/public//Img/Gallereya/img2.png");
    border-radius: 10px;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }
  .thirdCard{
    background:url("/public/Img/Gallereya/image400.jpg");
    border-radius: 10px;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }
  .fourthCard{
    background:url("/public/Img/Gallereya/image401.jpg");
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
  }
  .fifthCard{
    background:url("/public/Img/Gallereya/image402.jpg");
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
  }