

.toGallerySize{
  font-size: 24px;
 margin-left: 12%;
  }

.colntrolContainer{
  width: 80%;
  margin-left: 10% !important;
}

.forColor{
  /* border: 1px solid red; */
  width: 250px;
  height: 220px;
  align-items: center;
 
  
}
.firstPicture{
  width: 548px;
  height: 220px;

  
}

.exraPadding{
  /* border: 1px solid red; */
  text-align: center;
  padding: 2%;
}



