
.backSite{
    background-color: #FEF8F1;
    margin-bottom: 0px !important; 
    margin-bottom: -210px;
  
    
}

.headLine{
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
text-transform: uppercase;
opacity: 0.9;
}


.smallTexts{
font-style: normal;
font-size: 18px;
line-height: 25px;
color: #233249;
opacity: 0.5;
}


.firstIcon{
    font-size: 20px;
}
.inlinedIcons{
    margin-left: 20px;
    color: black;
    font-size: 20px;
}
.firstInlinedIcons{
    color: black;
    font-size: 20px;
}

.styleToPosition{
    /* border: 1px solid rgb(0, 255, 13); */
    margin-top: -25% !important;
}

.footerLine{
    border: 1px solid #D1D5DB;
   
}

.telNumber{
   
    text-align: right;
   
}
.toFindBorder{   
    border-right: 2px solid #D1D5DB;   
}

                      
.footerInfinity{
    font-size: 25px;
    font-weight: bold;

}
.logoImage{
    width: 80%;
    height: 80%;
}

.rotatedLogo{
  
    width: 450px;
    height: 250px;
    position: relative;
    top: 145px;
    margin-bottom: 10% !important;
    
}

.footerEnd{
    opacity: 0.99;
}