.webImgAndName
{
margin-top: 63.12px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
}
.webFrontendSection2
{
  margin-left: 70px !important;
  margin-top: 40px;
}
.webFrontendSection
{
  margin-right: 70px !important;
  margin-top: 40px;
}
.homeIconWeb{
  margin-top: -0.5%;
}
.webTextName{
  margin-left: 11px;
}

.webFirstWrapperBody
{
  width: 100%;
  height: auto;
  left: 320px;
  margin-top: 50px;
  border: 1px solid #D1D5DB;
  box-sizing: border-box;
}

.webFoundationThird {
  margin-left: 365px !important;
}
.webSecondWrapperBody
{
  width: 100%;
  height: auto;
  left: 320px;
  margin-top: 100px;
  border: 1px solid #D1D5DB;
  box-sizing: border-box;
}
.webSecondImg2
{
  width: 100%;
  height: auto;
  margin-left: -45px;
  margin-top: 194px;
  border: 1px solid #D1D5DB;
  box-sizing: border-box;
}
.webSecondImg
{
  width: 430px;
  height: 392px;
  margin-top: -24px !important;
  margin-left: 129px;
  background: #FFFFFF;
}

.webSecondImg1
{
  margin-top: -36px;
  margin-left: -90px;
  background: #FFFFFF;
}
.webInsideImages
{
  margin-top: 25px !important;
}

.webFoundation
{
margin-left: 304px !important;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 87px;
color: #000000;
}
.webFoundationSecond
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 87px;
  color: #000000;
}
.webFoundationThird
{
margin-left: 250px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 87px;
color: #000000;
}

.webNextFoundationText
{
font-family: 'Poppins';
font-style: normal;
margin-right: 70px !important;
font-weight: 400;
font-size: 27px;
line-height: 34px;
text-align: right;
color: #000000;
opacity: 0.6;
}

.webNextFoundationTextSecond
{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 34px;
text-align: left;
color: #000000;
opacity: 0.6;
}

.PhoneInputInput
{
  width: 482.5px !important;
  height: 35px !important;
  border: unset !important;
  border-bottom: 1px solid #d3cece !important;

}
.webFirstBtn
{
  width: 212px !important;
  height: 54px !important;
  background: #FFFFFF;
  border: 1px solid #E79215 !important;
  box-sizing: border-box;
  border-radius: 4px;
}
.webFirstBtn:hover{
  background-color: #E79215 !important;
  color: #FFFFFF !important;
  transition: 0.5s;
}
.batafsilBtnWeb{
  color: #333333 !important;
  text-decoration: none;
}
.webFirstBtn:hover .batafsilBtnWeb{
  color: #FFFFFF !important;
  transition: 0.5s;
}
.webSeconBtn
{
  width: 212px;
  height: 54px;
  margin-left: 15px;
  background: #FFFFFF;
  border: 1px solid #E79215 !important;
  box-sizing: border-box;
  border-radius: 4px;
}
.webSeconBtn:hover{
  background-color: #E79215 !important;
  color: #FFFFFF !important;
  transition: 0.5s;
}

.kursgaRoyxatdanOtish{
  text-decoration: none;
  color: #333333 !important;
}
.webSeconBtn:hover .kursgaRoyxatdanOtish{
  color: #FFFFFF !important;
  transition: 0.5s;
}

.webBtns
{
  margin-left: 130px;
}
.webBtnsSecond
{
  margin-left: 0px;
  margin-top: 32px;
}

.webContactsPart
{
  margin-top: 255px;
}

.webContactsPartContact
{
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
color: #000000;
opacity: 0.5;
}

.webContactsPartInterest
{
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
color: #000000;
}

.webContctsBasicSection
{
  margin-top: 117px !important;
}

.webSquare
{
  width: 528px;
  height: 436px;
  left: 330px;
  top: 2239px;
  background: #FFFFFF;
  border: 4px solid #3F3D56;
  box-sizing: border-box;
}

.webImgGirl
{
  width: 503px;
  height: 413px;
  margin-left: 1.5%;
  margin-top: 1.5%;
}

.webInputForm
{
  margin-top: 10%;
}
.webInputsStyle
{
  margin-top: 5%;
  width: 482.5px;
  height: 35px;
  border: unset;
  opacity: 0.2;
  border-bottom: 1px solid #000000;
}

.webLabelsStyle
{
  position: absolute;
  margin-top: 30px;
}

.webSendButtonInsideContactPart
{
  width: 171px;
  height: 62px;
  margin-top: 52.5px;
  margin-left: 50%;
  color: white;
  background: #3F3D56;
  border-radius: 4px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}


/* ///////////////Start Media Query//////////*/

@media screen and (min-width: 480px) {
  .webBtns
{
  margin-bottom: 50px;
}
}